<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>node_react_obj</title>
	</head>
	<body>
		<div id="example"></div>
		
		<script type="text/javascript" src="./dist/js/bundle.js"></script>
	</body>
</html>
