<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>
			首页
		</title>
		<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
	</head>

	<body>
		<div>
			首页
		</div>
		
		<script type="text/javascript">
			$(document).ready(function() {
				
				//页面加载时验证token
				var token = localStorage.getItem('token');
				console.log(token);
				$.get("/",{token:token},function(data){
					console.log(data);
				})
				
			});
		</script>
	</body>

</html>