<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
	登陆
	<form action="" method="post" id="loginForm">
		<label for="">user_name</label>
		<input type="text" name="user_name"/>
		<label for="">user_password</label>
		<input type="password" name="user_password"/>
		<label for="">user_phone</label>
		<input type="tel" name="user_phone"/>
		<label for="">user_regist_time</label>
		<input type="hidden" name="user_regist_time"/>
		<input type="button" value="提交" id="loginSubBtn"/>
	</form>
	
	<script type="text/javascript">
		$(document).ready(function(){
			
			$("#loginSubBtn").click(function(){
				var list = $("#loginForm").serialize();
				console.log(list);
				$.post("/user/loginregist/loginPost",list,function(data){
					console.log(data);
					return false;
				})
			});
		});
	</script>
</body>
</html>
